html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #fff url('../img/geometry2.png'); /* Background pattern from Subtle Patterns */
    font-family: 'Coda', cursive;
}

.container {
    width:100%;
    height: auto;
    min-height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: inherit;;
    font-size: 30px;
    font-weight: 300;
    margin-top: 0;
    margin-bottom: auto;
    
}

/*
 * Styles for the deck of cards
 */

.deck {
    width: 100%;
    min-height: inherit;
    background: linear-gradient(160deg, #f4c20d 0%, #db3236 100%);
    padding: 5px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}

.deck .card {
    height: 59px;
    width: 59px;
    background-image: url(../img/card_back.png);
    font-size: 0;
    color: #fff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.deck .card.open {
    transform: rotateY(0);
    background: #02b3e4;
    cursor: default;
}

.deck .card.show {
    font-size: 33px;
}

.deck .card.match {
    cursor: default;
    background: #02ccba;
    font-size: 33px;
}

/*
 * Styles for the Score Panel
 */

.score-panel {
    text-align: center;
    width: 100%;
    margin-bottom: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.score-panel .stars {
    width: 50%;
    margin: auto;
    padding: 0;
    font-size: 20px;
    display: inline-block;
    
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}

.fa-star {
    color:#e8a62c;
}

#mvs {
    width: 50%;
}
span {
    font-size: 20px;
    font-family: inherit;
    margin: auto;
    padding: 0;
    display: inline-block;  
}

.moves_p {
    display: inline-block;
    font-size: 20px;
    font-family: inherit;
    margin: auto;
    padding: 0;
    text-align: left;
}

.score-panel .restart {
    width: 50%;
    font-size: 20px;
    cursor: pointer;
    margin: 5px auto auto auto;
    padding: 0;
  
}

.restart p {
    margin: -5px auto auto auto;
}

#timer {
    width: 50%;
    font-size: 20px;
    font-family: inherit;
    margin: 5px auto auto auto;
    padding: 0;
}

.selected {
    pointer-events: none;

}
.no-click {
    pointer-events: none;
}

/*
 * Styles for modal
 */

.modal {
    padding: 20px;
    position: fixed;
    width: 100%;
    height: auto;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
    left: 0; 
}

.modal-content {
    text-align: center;
    position: relative;
    border: 5px solid aliceblue;
    border-radius: 5px;
    font-size: 40px;
    padding: 20px;
    height: auto;
    width: 660px;
    margin-left: auto;
    margin-right:auto;
}

h2 ul {
    display: inline-block;
    list-style: none;
    padding-left: 5px;
}

h2 ul li {
    display: inline-block;
}

.btn {
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background: #e8a62c;
    background-image: linear-gradient(to bottom, #e8a62c, #e8a62c);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    color: #ffffff;
    font-size: 30px;
    padding: 10px 20px 10px 20px;
    pointer-events: auto;
}

.btn:hover {
    background: #e37a29;
    text-decoration: none;
    cursor: pointer; 
}

/*
 * Card animation
 */

.animate {
    animation: shake 0.5s;
    animation-iteration-count: 1;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-5deg); }
    20% { transform: translate(-3px, 0px) rotate(5deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(5deg); }
    50% { transform: translate(-1px, 2px) rotate(-5deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-5deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-5deg); }
}

/*
 * Media queries
 */

@media screen and (min-width: 300px) and  (max-width: 350px){
    
    .deck .card {
        height: 62px;
        width: 62px;
        margin-bottom: 7px;
        margin-left: 3px;
        margin-right: 3px;
    }   
    #cardsDeck {
       height: 300px;
    }
    h1 {
        margin-top: 0;
    }
}

@media screen and (min-width: 350px) and  (max-width: 400px){
    
    .deck .card {
        height: 71px;
        width: 71px;
        margin-bottom: 7px;
        margin-left: 4px;
        margin-right: 4px;
    }   
    #cardsDeck {
        height: 400px;
    }
}


@media screen and (min-width: 400px) and  (max-width: 450px){
    
    .deck .card {
        height: 80px;
        width: 80px;
        margin-bottom: 7px;
        margin-left: 4px;
        margin-right: 4px;
    }   
    #cardsDeck {
        height: 450px;
    }
}

@media screen and (min-width: 450px) and  (max-width: 500px){
    
    .deck .card {
        height: 90px;
        width: 90px;
        margin-bottom: 7px;
        margin-left: 4px;
        margin-right: 4px;
    }   
    #cardsDeck {
        height: 450px;
    }
}

@media screen and (min-width: 500px) and  (max-width: 550px){
    
    .deck .card {
        height: 100px;
        width: 100px;
        margin-bottom: 7px;
        margin-left: 4px;
        margin-right: 4px;
    }   
    #cardsDeck {
        height: 500px;
    }

}

@media screen and (min-width: 550px) and  (max-width: 600px){
    
    .deck .card {
        height: 110px;
        width: 110px;
        margin-bottom: 7px;
        margin-left: 4px;
        margin-right: 4px;
    }   
    #cardsDeck {
        height: 550px;
    }   

}

@media screen and (min-width: 600px) {
    
    .deck .card {
        height: 125px;
        width: 125px;
        margin-bottom: 7px;
        margin-left: 4px;
        margin-right: 4px;
    }   
    #cardsDeck {
        width: 600px;
        height: 550px;
        padding: 10px;
        
    }
    .score-panel {
        width: 600px;
    }
    h1 {
        font-size: 40px;
    }
    .score-panel .stars,
    span,
    #mvs p,
    #timer,
    .restart_p {
        font-size: 30px;
    }
}






